MONGODB_URL='xyz'
ADMIN_NAME='anuj'
ADMIN_PASSWORD='anuj'
ADMIN_JWT='anuj'
ACCESS_TOKEN_SECREAT_KEY='anuj'
ACCESS_TOKEN_EXPIRE_TIME='1d'
REFRESS_TOKEN_SECREAT_KEY='anuj'
REFRESS_TOKEN_EXPIRE_TIME='7d'
EMAIL='anuj@anuj.com'
PASSWORD='Anuj@1234'
